@charset "UTF-8";

body {
    background: darkslateblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    text-align: center;
}

section {
    width: 450px;
    background: white;
    margin: auto;
    border-radius: 20px;
    padding: 16px;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.321);
}

#flista {
    width: 150px;
}


footer {
    text-align: center;
    color: white;
    font-style: italic;
}